{% if success is False %}
    <div class="alert alert-secondary" role="alert">
        {{ user }}
    </div>
{% endif %}
{% for url in urls%}
    {% if url.status is 200 %}
        <div class="alert alert-success" role="alert">
            {{url.address}}
        </div>
    {% elif url.status is 0 %}
        <div class="alert alert-dark" role="alert">
            {{url.address}}
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            {{url.address}}
        </div>
    {% endif %}
    
{% endfor %}